a{
  all:unset;
}
.button {
    border: solid 4px rgba(0,0,0,0);
    color: #000;
    width: 100px;
    height:100%;
    cursor: pointer;
    text-align: center;
    margin:0;
  }
  
  .button-primary {
    background-color: #e8b569;
  }
  
  .button-secondary {
    background: #ff6a95;
  }
  
  .button:hover {
    transform: scale(0.98);
    opacity: 0.9;
    border-bottom: solid 4px black;
    transition:all 1s;
  }
  
  .button:disabled {
    background-color: #cccccc;
    color: #333;
    cursor: auto;
  }
  
  .button:disabled:hover {
    transform: scale(1);
    opacity: 1;
  }