a{
  all:unset;
}
  .button {
    border: solid 4px rgba(0,0,0,0);
    color: #000;
    width: 100px;
    cursor: pointer;
    text-align: center;
    margin:0;
    line-height: 88px;
  }
  
  .button-primary {
    background-color: #e8b569;
  }
  
  .button-secondary {
    background: #ff6a95;
  }
  
  .button:hover {
    transform: scale(0.98);
    opacity: 0.9;
    border-bottom: solid 4px black;
    transition:all 1s;
  }

  .active{
    border-bottom: solid 4px black;
  }
  
  .button:disabled {
    background-color: #cccccc;
    color: #333;
    cursor: auto;
  }
  .button-hamburger{
    width:100vw;
    height:10vh;
  }
  .button:disabled:hover {
    transform: scale(1);
    opacity: 1;
  }