.info{
    display:block;
    margin:10px;
  }
  .infoMenuButton{
    display:none;
  }
.categoryCard{
  display:flex;
  
}
@media screen and (max-width: 550px){
    .info{
      display:none;
    }
    .infoMenuButton{
      display:block;
    }
  }