.meals{
    cursor:pointer;
    height:100px;
    width:50%;
    margin:auto;
    overflow: visible;
    display:flex;
}
.info{
    width:250px;
    position:relative;
    margin: auto;
    top:0;
    background-color:darkgrey;
}
.meals .info{
    display:none;
}
.meals:hover .info{
    display:block;
    cursor:pointer;
}
.meals:hover img{
    cursor:pointer;
    height:100px;
}